body {
    width: 100%;
    margin: 0;
    padding: 0;
}
.header {
    background-image: url("images/logo.png");
    height: 100%;
    width: auto;
    background-color: lightcyan;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-width: 800px) {
    .header {
        background-image: url("images/mobile_logo.png");
        height: 50%;
        width: auto;
        background-color: lightcyan;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.content {
    font-size: 3em;
    text-align: center;
    font-family: 'Oswald';
}

#date {
    font-family: 'Righteous';
}

#mySidenav a {
    position: fixed;
    left: -280px;
    transition: 0.4s;
    padding: 16px;
    width: 290px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
    z-index: 90000;
    background-color: black;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
}

#mySidenav a:hover {
    left: 0 !important;
}

#about {
    top: 20px;
    background-color: #424242;
}

#blog {
    top: 80px;
    background-color: #3a3a3a;
}

#projects {
    top: 140px;
    background-color: #2b2b2b;
}

#script {
    top: 200px;
    background-color: #1b1b1b;
}

#recipe {
    top: 260px;
    background-color: #1b1b1b;
}
#lists {
    top: 320px;
    background-color: #1b1b1b;
}

#heredity {
    top: 380px;
    background-color: #1b1b1b;
}

#epilogue {
    top: 440px;
    background-color: #1b1b1b;
}